html {
    scroll-behavior: smooth;
}
/*for disable color & background-color bootstrap */
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none!important;
}
.btn-outline-primary:hover
{
    background-color: white!important;
    color: #007bff!important;
}

/*                 animate button                */
.button {
    border: 2px solid #0d92fd;
    border-radius: 15vw;
    height: 6vh;
    text-align: center;
    display: flex  ;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left,  #058ffc 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 0.5s ease-out;
}
.button:hover {
    background-position: right bottom;
}
.text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color:  #058ffc;
    transition: all .6s ease-out;

}
.text:hover {
    color: white;
}

/*!*******************************************font-size**************************************!*/
.fs-08vw{
    font-size: 0.8vw;
}
.fs-09vw{
    font-size: 0.9vw;
}
.fs-1vw {
    font-size: 1vw;
}.fs-13vw {
    font-size: 1.3vw;
}
.fs-15vw {
    font-size: 1.5vw;
}

.fs-16vw {
    font-size: 1.6vw;
}

.fs-17vw {
    font-size: 1.7vw;
}

.fs-18vw {
    font-size: 1.8vw;
}

.fs-19vw {
    font-size: 1.9vw;
}

.fs-2vw {
    font-size: 2vw;
}

.fs-21vw {
    font-size: 2.1vw;
}

.fs-3vw {
    font-size: 3vw;
}

ul{
    height: 100%;
}

/*******************************************font-family**************************************/

.font-bold {
    font-family: IRANSans-bold, serif;
}

.font-light {
    font-family: IRANSans-light, serif;
}

.font-ultralight {
    font-family: IRANSans-ultralight, serif;
}

.font-medium {
    font-family: IRANSans-medium, serif;
}

/*******************************************margin**************************************/

.mt-6 {
    margin-top: 6vw !important;
}

.mt-7 {
    margin-top: 7vw !important;
}
.mt-8 {
    margin-top: 8vw !important;
}
.mt-9 {
    margin-top: 9vw !important;
}
.mt-10 {
    margin-top: 10vw !important;
}
.mt-11 {
    margin-top: 11vw !important;
}
.mt-12 {
    margin-top: 12vw !important;
}
.mt-15 {
    margin-top: 15vw !important;
}
.mt-20 {
    margin-top: 20% !important;
}
.mt-30 {
    margin-top: 30% !important;
}
.mt-35 {
    margin-top: 30% !important;
}
.mt-40 {
    margin-top: 40% !important;
}

/******************************************* height **************************************/
.height-error-mas
{

    height: 2vh;
}

/******************************************* color **************************************/

.c-menu {
    color: #5c5c5c;
}
.c-menu3 {
    color: #018dfc;
}
.c-text {
    color: #474747;
}
.c-text2 {
    color: #058ffc;
}
.c-font-icon{
    color: #018dfc;
    transition: 2s;
}
.c-font-icon:hover
{
    color: #6cdeff;
    transition: 2s;
}
.c-after-footer {
    color: #7b909b;
}

.c-social {
    color: #5b747f;
}
.c-error
{
    color: red;
}
.c-success
{
color:#60D199;
}
/*********************************** background_color ***********************************/

.bg-after-footer
{
    background-color: #f2f8fd;
}

.c-menu2 {
    background: -webkit-linear-gradient(#0695f9, #30d7e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/******************************************* placeholder , text box **************************************/
textarea:focus, input:focus{
    outline: none;
}

::placeholder {
    color: #929393;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #929393;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #929393;
}
input

{
    padding-left: 0!important;
}
.txt-b {
    border: white solid;
    border-radius: 5px;
    padding-right: 1rem;
    background-color: #f9fcfd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
/*******************************************height**************************************/
.h-100-vh {
    height: 100vh !important;
}
.h-60 {
    height: 60%!important;
}
/*******************************************width**************************************/

.w-100-vw {
    width: 100vh !important;
}

.container-width {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.content {
    width: 100%;
}


/*******************************************content 1**************************************/

.ct-1 {
    width: 100%;
}

/******************************************* content 2*************************************/


.ct-2 {
    width: 100%;
    /*height: 130vh;*/
}

/************************************** direction **************************************/

.d-rtl {
    direction: rtl !important;
}

.d-ltr {
    direction: ltr !important;
}

/*************************************** border ***************************************/

.b-radius {
    border-radius: 15vw;

}
.br-bottom
 {
border-bottom: #058ffc solid 1px ;

 }

/*************************************** text ***************************************/
.justify-text {
    /*|inter-word|inter-character|none|initial|inherit*/
    direction: rtl !important;
    text-align: justify !important;
}
/**************************************  media resolution 1000px  **************************************/

/*---------------------------------  min media  ---------------------------------*/
@media only screen and (min-width: 1000px) {

    /*--------------------- div ---------------------*/
    .div-bottom-content {
        margin-top: 1rem !important
    }

    /*---------------------direction---------------------*/
    .dr-md-sm
    {
        direction: rtl;
    }
    /*---------------------image---------------------*/
    .img-chichi
    {
        width: 100px;
        height: 100px;
    }

    /*------------------background------------------*/
    .bg-image-footer
    {
        background-image:url("../pic/Path 549@2x.png");
    }
    /*------------------ flex-row  ------------------*/
    .flexrow1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .flexrow2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    .flexrow-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }
    /*-------------------- margin  --------------------*/
    .mt-free-send
    {
        margin-top:3rem!important;
    }
    .m-r-l-auto
    {
        margin-left: auto;
        margin-right: 0;
    }
    .m-response1 {
        margin-right: 18% !important;
        /*margin-right: 10% !important;*/
    }
    .mr-menu {
        margin-right:6%!important;
    }
    .mt-menu
    {
        margin-top: 3%!important;
    }
    .m-response2 {
        margin-right: 9% !important;
        /*margin-right: 10% !important;*/
    }
    .mt-response2 {
        margin-top: 20%;
    }

    .mt-response3 {
        margin-top: 30%;
    }


    .mt-image-1 {
        margin-top: 0!important;
    }
    .text-content-chichi {
        margin-right: 0 ;
    }

    .bottom-center {
        text-align: right !important;
    }

    .mt-bottom {
        margin-top: 2vh;
    }
    .mt-response-sub-1-3 {
        margin-top: 3vh;
    }
    /*--------------------  text box- -----------------*/
    .height-txt {
        height: 8vh;
    }
    .width-txt {
        width: 85%;
    }
    .width-bot {
        width: 85%;
    }

    .mt-text3 {
        margin-top: 2vh;
    }

    .mt-between-chichi {
        margin-top: 2vh;
    }
    /*----------- height text box , bt , div ----------*/
    .height-tbt {
        height: 15vh;
    }

    .height-bt {
        height: 7vh;
    }
    /*-------- height div for responsive in (2) -------*/
    .div-height {
        height: 0;
    }

    /*------------------ with button -----------------*/
    .w-60
    {
        width: 60%;
    }

    .width-bt {
        width: 18.5vw;
    }

    .w-60
    {
        width: 60%;
    }
    .w-50-sm {
    /**/
    }

    .w-100-sm {
    /**/
    }

    .mt-bt {
        margin-top: 16vh;
    }
    /*----------- height text box , bt , div ----------*/
    .h-sm-md
    {
        height:50%;
    }
    .footer-height {
        height: 40vh !important;
    }
    .h-60{
        height: 60%;
    }
    .sub-footer-height-10-0 {
        /*0*/
    }

    .sub-footer-height-20-0 {
        /*0*/
    }

    .sub-footer-height-10-75 {
        height:75%;
    }
    .sub-footer-height-10-50 {
        height: 50%;
    }
    .sub-footer-height-10-76 {
        height: 76%;
    }
    .sub-footer-height-25-75 {
        height:75%;
    }
    .sub-footer-height-30-75 {
        height:75% ;
    }
    .text-Footer_UL{
        text-align: right;
    }
    .height-Footer_UL {
        height: 100%;
    }
    .item-social {
        width: 2.5vw;
    }
    .item-belief {
        width: 7.5vw;
    }
    /*-------------------- padding  --------------------*/
    .padding-ul-sm-md
    {
    /**/
    }
.pr-i-pad-0
{
    /*padding-right: 0;*/
}
    /*-------------------- margin  --------------------*/
    .mt-invite
    {
        margin-top: 2vh!important;
    }
    .mt-sub-footer {
        margin-top: 5vh;
    }
    .mt-social-belief
    {
        margin-top:2.5rem!important
    }
    .mt-md-8-sm-4 {
        margin-top: 10rem !important
    }
    .mb-belief
    {
    /**/
    }
    .mt-content
    {
        margin-top: 10vh;
    }
    /*-------------------- fontsize  --------------------*/
    .fs-text-error
    {
        font-size: 0.8vw;
    }
    .fs-md-menu
    {
        font-size: 1.5vw;
    }
    .fs-title-content {
        font-size: 3vw;
    }
    .fs-subtitle-content {
             font-size: 2vw;
    }

    .fs-content {
        font-size:1.8vw;
    }
    .fs-bt
    {
        font-size: 1.6vw;
    }
    .fs-massage
    {
        font-size: 1.5vw!important;
    }
    .fs-invite
    {
        font-size: 1.2vw;
    }

    .fs-text-footer {
        font-size: 1vw;
    }
    .fs-sub-text-footer {
        font-size: 0.8vw;
    }
    .fs-text-after-footer {
        font-size: 0.9vw;
    }
    .fs-social {
        font-size: 1vw;
    }
    .fs-txt-holder {
        font-size: 1vw;
    }
    /*-------------------- align  --------------------*/
    .align-items-footer1 {
        align-items: flex-end !important;
    }
    .align-items-footer2 {
        align-items: flex-end !important;
    }
    .align-social {
        -ms-flex-align: end !important;
        align-items: flex-end !important;
    }
    .text-center-sm {
    }
    .align-items-sm-md-i-pad
    {
        align-items: center;
    }
    /*-------------------- align  --------------------*/
    .overflow-md-hidden{
        overflow: hidden!important;
    }
    /*------------------ display  -------------------*/
    .d-i-pad-none
    {
        /*display: none!important;*/
    }
    /*------------------ padding  -------------------*/
    .item-social-pr-pl-i-pad
    {
        padding-right: 4.6875vw!important;
        padding-left: 4.6875vw!important;
    }

    .justify-content-responsive {
        -ms-flex-pack:end!important;
        justify-content:flex-end!important
    }
    .justify-content-2-responsive{
        -ms-flex-pack:end!important;
        justify-content:flex-end!important
    }
    .justify-content-error-ms {
        justify-content: end !important;

    }

}

/*--------------------------------- max media ---------------------------------*/

@media only screen and (max-width: 1000px) {
    /*--------------------- div ---------------------*/
    .div-bottom-content {
        margin-top: 3rem !important
    }


    /*---------------------direction---------------------*/
    .dr-md-sm
    {
        direction: ltr;
    }
    /*---------------------image---------------------*/
    .img-chichi
    {
        width: 50px;
        height: 50px;
    }
    /*------------------background------------------*/
    .bg-image-footer
    {
        background-image:url("../pic/Path 549.svg");
    }
    /*------------------ flex-row  ------------------*/
    .flexrow1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }

    .flexrow2 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .flexrow-footer{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    /*-------------------- margin  --------------------*/
    .mt-image-1 {
        margin-top: 2rem;
    }
    .mt-free-send
    {
        margin-top:3rem!important;
    }
    .m-r-l-auto
    {
        margin-left: auto;
        margin-right: 0;
    }
    .m-response1 {
        margin-right:0!important;
    }

    .mr-menu {
        margin-right:0%!important;
    }
    .mt-menu
    {
        margin-top: 0%!important;
    }
    .mt-response2 {
        margin-top: 1%;
    }

    .mt-response3 {
        margin-top: 10%;
    }

    .mt-md-8-sm-4 {
        margin-top: 1.5rem !important
    }
    .mt-end-project {
        margin-top: 0;
    }

    .text-content-chichi {
        margin-left: auto;
        margin-right: auto;
    }

    .bottom-center
    {
        text-align: center!important;
    }
    .mt-bottom
    {
        margin-top:1vh;
    }
    .mt-response-sub-1-3 {
        margin-top: 2vh;
    }
    .mt-between-chichi {
        margin-top: 2rem;
    }
    /*--------------------  text box- -----------------*/
    .height-txt {
        height: 4vh;
    }
    .width-txt {
        width: 37vw;
    }
    .width-bot {
        width: 37vw;
    }

    .mt-text3 {
        margin-top: 1vh;
    }

    /*----------- height text box , bt , div ----------*/
    .height-tbt {
        height: 11vh;
    }

    .height-bt {
        height: 7vh;
    }
    /*-------- height div for responsive in (2) -------*/
    .div-height {
        height: 20vh;
    }


    /*------------------ with button -----------------*/
    .width-bt {
        width: 32vw;
    }


    .w-60
    {
        width: 60%;
    }
    .w-50-sm {
        width: 50%;
    }

    .w-100-sm {
        width: 100%;
    }

    .mt-bt {
        margin-top: 0;
    }

    /*----------- height text box , bt , div ----------*/
    .h-sm-md
    {
        height:25%;
    }

    .footer-height {
        /*height: 100vh !important;*/
        height: 100vh !important;
    }

    .sub-footer-height-10-0 {
        height: 20%;
    }

    .sub-footer-height-20-0 {
        height: 20%;
    }

    .sub-footer-height-10-75 {
        height: 10%;
    }

    .sub-footer-height-10-50 {
        height: 10%;
    }
    .sub-footer-height-10-76 {
        height: 10%;
    }
    .sub-footer-height-25-75 {
        height: 25%;
    }

    .sub-footer-height-30-75 {
        height: 30%;
    }

    .item-social {
        width: 11vw;
    }

    .text-Footer_UL {
        text-align: center;
    }

    .height-Footer_UL {
        height: 20%;
    }

    .item-belief {
        width: 40vw;
    }

    /*-------------------- padding  --------------------*/
    .padding-ul-sm-md
    {
        padding-right: 0!important;
    }
    .pr-i-pad-0
    {
        /*padding-right: 0;*/
    }
    /*-------------------- margin  --------------------*/
    .mt-invite
    {
        margin-top: 1vh!important;
    }
    .mt-sub-footer {
        margin-top: 10vh;
    }

    .mt-social-belief {
        margin-top: 1rem !important
    }
    .mt-content
    {
        margin-top: 10vh;
    }
    .mb-belief
    {
        margin-bottom: 2.5rem;
    }

    /*-------------------- fontsize  --------------------*/
    .fs-text-error
    {
        font-size: 2vw;
    }
    .fs-md-menu
    {
        font-size: 2.5vw;
    }

    .fs-title-content {
        font-size: 4.5vw;
    }
    .fs-subtitle-content {
        font-size: 3.5vw;
    }

    .fs-content {
        font-size:3vw;
    }
    .fs-bt
    {
        font-size: 2.4vw;
    }
    .fs-massage
    {
        font-size: 1.5vw!important;
    }
    .fs-invite
    {
        font-size: 2.2vw;
    }
    .fs-text-footer {
        font-size: 4.5vw;
    }
    .fs-text-after-footer {
        font-size: 2.5vw;
    }
    .fs-sub-text-footer {
        font-size: 4vw;
    }
    .fs-social {

        font-size: 4.5vw;
    }
    .fs-txt-holder {
        font-size: 3vw;
    }
    /*-------------------- align  --------------------*/
    .align-items-sm-md-i-pad
    {
        align-items: center;
    }
    .align-items-footer1 {
        align-items: flex-start !important;
    }

    .align-items-footer2 {
        align-items: flex-start !important;
    }

    .align-social {

        -ms-flex-align: start !important;
        align-items: flex-start !important;
    }

    .text-center-sm {
        text-align: center !important;
    }

    /*-------------------- align  --------------------*/
    .overflow-md-hidden{
        /*overflow: hidden!important;*/
    }
    /*------------------ display  -------------------*/
    .d-i-pad-none
    {
        display: none!important;
    }
    /*------------------ padding  -------------------*/
    .item-social-pr-pl-i-pad
    {
        padding-right: 0.78125vw!important;
        padding-left: 0.78125vw!important;
    }
    .justify-content-responsive {

    }
    .justify-content-2-responsive{

    }
    .justify-content-error-ms {
        justify-content: center !important;

    }
}
/*********************************  media resolution (1024 , 1366) for-ipa-d-pro *********************************/

@media only screen and (max-width: 1024px) and (max-height: 1366px) {

    /*--------------------- div ---------------------*/
    .div-bottom-content {
        margin-top: 0  !important
    }

    /*-------------------- margin  --------------------*/
    .mt-image-1 {
        margin-top: 1rem;
    }
    .mt-free-send
    {
        margin-top:1.5rem!important;
    }
    .m-r-l-auto
    {
        margin-left: auto;
        margin-right: auto;
    }
    /*کل متن چی چی؟؟*/
    .mt-md-8-sm-4 {
        margin-top: 2rem !important;
    }

    /*همین حالا ثبت نام کنید !*/
    .mt-response2 {
        margin-top: 5vh !important;
    }

    /*text box*/
    .mt-text3 {
        margin-top: 1vh !important;
    }

    /*ثبت نامم کن !*/
    .mt-bt {
        margin-top: 11vh !important;
    }

    /*دوستانتان را دعوت کنید*/
    .mt-invite {
        margin-top: 1vh !important;
    }

    /*یه هفته ارسال رایگان چطوره؟*/
    .mt-response3 {
        margin-top: 20% !important;
    }

    .mt-social-belief
    {
        margin-top:2.3rem!important
    }
    .mt-response-sub-1-3 {
        margin-top: 0;
    }
    .mt-between-chichi {
        margin-top: 0.8rem;
    }
    .mt-bottom
    {
        margin-top:2vh;
    }
    /*-------------------- width  --------------------*/

    .width-bt {
        width: 33vw;
    }
    .width-txt {
        width: 80%;
    }
    .width-bot {
        width: 100%;
    }

    /*-------------------- height  --------------------*/


    /*height text box*/
    .height-txt {
        height: 5vh !important;
    }
     .height-bt {
        height: 5vh;
    }
    /*گل دیو ثبت نام*/
    .height-tbt {
        height: 11vh;
    }

    /*fake div*/
    .div-height {
        height: 29vh !important;
    }

    /*height sm md i-pad-pro chichi*/
    .h-sm-md {
        height: 30%;
    }

    /*height footer*/
    .footer-height
    {
        height: 100vh !important;
    }

    /*-------------------- fontsize  --------------------*/
    .fs-text-error
    {
        font-size: 2.2vw;
    }
    .fs-title-content {
        font-size: 7.5vw;
    }
    .fs-md-menu
    {
        font-size: 3.5vw;
    }
    .fs-txt-holder {
        font-size: 3vw!important;
    }
    .fs-content {
        font-size:3vw;
    }
    .fs-bt
    {
        font-size: 2.5vw!important;
    }
    .fs-massage
    {
        font-size: 2.5vw!important;
    }
    .fs-sub-text-footer
    {
        font-size: 4vw;
    }
    .fs-text-footer {
        font-size: 4.5vw;
    }

    .fs-social {

        font-size: 4.5vw;
    }
    .fs-text-after-footer {
        font-size: 2.5vw;
    }
    /*-------------------- align  --------------------*/
    .align-items-sm-md-i-pad
    {
        align-items: center;
    }
    /*------------------ display  -------------------*/
    .d-i-pad-none
    {
        /*display: none!important;*/
    }
    /*------------------ padding  -------------------*/
    .item-social-pr-pl-i-pad
    {
        padding-right: 4.5625vw!important;
        padding-left: 4.5625vw!important;
    }
    .pr-i-pad-0
    {
        /*padding-right: 0;*/
    }
    .justify-content-responsive {
        -ms-flex-pack:center!important;
        justify-content:center!important;
    }
    .justify-content-2-responsive{
        -ms-flex-pack:center!important;
        justify-content:center!important;
    }
    .justify-content-error-ms {
        justify-content: center !important;

    }
}
    @media only screen and (min-width: 1024px) and (min-height: 1366px)  {

        /*--------------------- div ---------------------*/
        .div-bottom-content {
            margin-top: 2rem !important
        }

        /*-------------------- margin  --------------------*/
        .mt-image-1 {
            margin-top: 0!important;
        }
        .m-r-l-auto
        {
            margin-left: auto;
            margin-right: 0;
        }
        .mt-free-send
        {
            margin-top:3rem!important;
        }
        /*کل متن چی چی؟؟*/
        .mt-md-8-sm-4 {
            margin-top: 6rem !important;
        }

        /*همین حالا ثبت نام کنید !*/
        .mt-response2 {
            margin-top: 5vh!important;
        }

        /*text box*/
        .mt-text3 {
            margin-top: 1vh !important;
        }

        /*ثبت نامم کن !*/
        .mt-bt {
            margin-top: 7vh!important;
        }

        /*دوستانتان را دعوت کنید*/
        .mt-invite
        {
            margin-top: 1vh!important;
        }

        /*یه هفته ارسال رایگان چطوره؟*/
        .mt-response3
        {
            margin-top: 10%!important;
        }

        .mt-social-belief
        {
            margin-top:1.5rem!important
        }
        .mt-response-sub-1-3 {
            margin-top: 1vh;
        }
        .mt-between-chichi {
            margin-top:  1vh;
        }
        .mt-bottom
        {
            margin-top:0;
        }
        /*-------------------- width  --------------------*/

        .width-bt {
            width: 20vw;
        }
        .width-txt {
            width: 37vw;
        }
        .width-bot {
            width: 37vw;
        }

        /*-------------------- height  --------------------*/

        /*height text box*/
        .height-txt {
            height: 4vh !important;
        }
        .height-bt {
            height: 3.5vh;
        }
        /*گل دیو ثبت نام*/
        .height-tbt {
            height: 11vh;
        }

        /*fake div*/
        .div-height {
            height: 23vh !important;
        }

        /*height sm md i-pad-pro chichi*/
        .h-sm-md {
            height: 25%;
        }

        /*-------------------- fontsize  --------------------*/
        .fs-text-error
        {
            font-size: 1.4vw;
        }
        .footer-height
        {
            height: 15vh !important;
        }
        .fs-social {

            font-size: 1.5vw;
        }
        .fs-title-content {
            font-size: 3.5vw;
        }
        .fs-content {
            font-size:1.8vw;
        }
        .fs-txt-holder {
            font-size: 1.8vw!important;
        }
        .fs-md-menu
        {
            font-size: 2.5vw;
        }
        .fs-bt
        {
            font-size: 1.8vw!important;
        }
        .fs-massage
        {
            font-size: 1.5vw!important;
        }
        .fs-sub-text-footer
        {
            font-size: 1.5vw;
        }
        .fs-text-footer {
            font-size: 2vw;
        }
        .fs-text-after-footer {
            font-size: 1.4vw;
        }
        /*-------------------- align  --------------------*/

        .align-items-sm-md-i-pad
        {
            align-items: end;
            flex-wrap: nowrap;
        }
        /*------------------ display  -------------------*/

        .d-i-pad-none
        {
            /*display: none!important;*/
        }
        /*------------------ padding  -------------------*/
        .item-social-pr-pl-i-pad
        {
            padding-right: 0.78125vw!important;
            padding-left: 0.78125vw!important;
        }
        .pr-i-pad-0
        {
            padding-right: 0!important;
        }
        .justify-content-responsive {
            -ms-flex-pack:end!important;
            justify-content:flex-end!important
        }
        .justify-content-2-responsive{
            -ms-flex-pack:end!important;
            justify-content:flex-end!important
        }
        .justify-content-error-ms {
            justify-content: end !important;

        }
}
/***************************************** End media *****************************************/
/**/
/**/
/************************************* media menu slider *************************************/

/**/

@media only screen and (min-width: 991px) {
    .display-responsive {
        display: none !important;
    }
}
@media only screen and (max-width: 991px) {
    .display-responsive{
        display: block !important;
    }
}
.top-0{
    top: 0!important;
}
.right-0{
    right: 0!important;
}






/**/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.absoluteDiv{
    position: absolute;
        top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7) !important;
    height: 200vh;
    z-index: 2;
}


.z5 {
    z-index: 5 !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
}
#btn-nav{
    border: 0!important;
}

#btn-nav:focus {
      outline: 0!important;
}


.headerLink:hover{
    padding-bottom: 3px;
    color: #1c86db!important;
    text-decoration: none;
    border-bottom: 2px solid #1c86db!important;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}


.footer {
    /*background-image:url("../pic/Path 549@2x.png");*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
}